//mixin




@mixin keyframes($animName) {
    @-webkit-keyframes #{$animName} {
        @content;
    }

    @keyframes #{$animName} {
        @content;
    }
}

@mixin cirEle($size) {
    height : #{$size};
    width : #{$size};
    border-radius: 50%;
}

@mixin sqrEle($size) {
    height : #{$size};
    width : #{$size};
}

@mixin setContainer($width : 100%, $spacing) {
    max-width: $width;
    padding-inline: $spacing;
    margin-inline: auto;
}

@mixin multilineDotText($maxHeight, $lineCount) {
    max-height: $maxHeight;
    text-overflow: ellipsis;
    overflow: hidden;
    // Addition lines for 2 line or multiline ellipsis
    display: -webkit-box !important;
    -webkit-line-clamp: $lineCount;
    -webkit-box-orient: vertical;
    white-space: normal;
}

//functions
@function toRem($value) {
    $remValue: calc($value / 16) + rem;
    @return $remValue;
}

//placeholders
%d-flex {
    display: flex;
}

%flex-v-center {
    display: flex;
    align-items: center;
}

%flex-h-center {
    display: flex;
    justify-content: center;
}

%flex-vh-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%common-transition {
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

%bg-banner {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

%app-common-card {
    @extend %bg-banner;
    border: 1px solid #FFFFFF;
    border-radius: toRem(10);
    padding: toRem(50);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .card-title {
        font-family: 'Poppins';
        font-size: toRem(36);
        line-height: toRem(42);
        font-weight: 700;
        letter-spacing: 0.2px;
        color: #FFFFFF;
    }

    .card-text {
        font-weight: 400;
        font-size: toRem(18);
        line-height: toRem(32);
        color: #FFFFFF;
    }

    @media(max-width: 768px) {
        padding: 1rem;
    }
}


%slider-round-arrow-btn {
    .splide__arrow {
        height: 56px;
        width: 56px;
        border-radius: 50%;
        background-color: $app-primary;
        border: none;
        box-shadow: none;

        svg {
            width: 30px;
            fill: #fff;
        }

        &.splide__arrow--prev {
            translate: -50% 0;
        }

        &.splide__arrow--next {
            translate: 50% 0;

            svg {
                rotate: 180deg;
            }
        }

        path {
            transform: translate(8px, 10px);
        }
        &[disabled]{
            background-color: rgba(213, 213, 213, 0.078);
        }
    }
}