body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.bg-dark-blue {
    background-color: #0B2031;
}

.bg-gray-1 {
    background-color: #444444;
}

.bg-dark-1 {
    background-color: #131313;
}

.color-white {
    color: #fff;
}

.color-white-400 {
    color: rgba(255, 255, 255, 0.384);
}

.section-pad {
    padding-block: 80px;
}

.app-container {
    @include setContainer(1212px, 30px);
}

.nav-btn {
    --bs-btn-border-radius: toRem(10);
    --bs-btn-color: #fff;
    --bs-btn-border-color: #D7D7D7;
}

.title-font {
    font-family: "Poppins", sans-serif;
}

.app-texts-60 {
    font-size: 60px;
    line-height: 60px;

}

.app-texts-35 {
    font-size: 35px;
    line-height: 56px;
}

.app-texts-42 {
    font-size: 42px;
    line-height: 60px;
}

.app-texts-40 {
    font-size: 40px;
}

.app-texts-22 {
    font-size: 22px;
    line-height: 32px;
}

.app-texts-18 {
    font-size: 18px;
    line-height: 24px;
}

.banner-title {
    font-weight: 700;

    small {
        font-weight: 500;
    }
}

.app-hov-primary-btn {
    --bs-btn-padding-x: 24px;
    --bs-btn-padding-y: 0;
    --bs-btn-font-family: "Inter", sans-serif;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 500;
    --bs-btn-line-height: #{toRem(50)};
    --bs-btn-color: #ffffff;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: #{toRem(24)};
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);

    --bs-btn-color: #fff;
    --bs-btn-border-color: #{$app-primary};
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: #{$app-primary};
    --bs-btn-focus-shadow-rgb: 79, 164, 218;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: #{$app-primary};
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #{$app-primary};
    --bs-gradient: none;
    --btn-translate-time: 0.4s;

    .btn-text {
        position: relative;
        transition: translate var(--btn-translate-time);
        z-index: 1;
    }

    &:after {
        content: "";
        position: absolute;
        height: 500%;
        width: 200%;
        background-color: #{$app-primary};
        top: 100%;
        left: 100%;
        transform-origin: 0 0;
        rotate: -45deg;
        transition: translate var(--btn-translate-time);
    }

    position: relative;
    height: 50px;
    overflow: hidden;

    &:hover {
        .btn-text {
            translate: 0 -100%;
        }

        &:after {
            translate: -65% 0;
        }
    }

}

.app-section-tabs {

    border-radius: toRem(20);
    overflow: hidden;

    // #807F7F4D
    .nav-tabs {

        --bs-nav-link-padding-x: #{toRem(15)};
        --bs-nav-link-padding-y: #{toRem(30)};
        --bs-nav-link-font-weight: 500;
        --bs-nav-link-color: #fff;
        --bs-nav-link-hover-color: #fff;
        --bs-nav-link-disabled-color: #6c757d;

        --bs-nav-tabs-border-width: 1px;
        --bs-nav-tabs-border-color: rgba(128, 127, 127, 0.616);
        --bs-nav-tabs-border-radius: 0;
        --bs-nav-tabs-link-hover-border-color: transparent transparent transparent transparent;
        --bs-nav-tabs-link-active-color: #fff;
        --bs-nav-tabs-link-active-bg: transparent;
        --bs-nav-tabs-link-active-border-color: transparent transparent transparent transparent;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;

        .nav-item {
            flex: 1;
        }

        .nav-link {
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            max-width: 194px;
            height: 100px;
            text-align: center;
            font-size: toRem(16);
            position: relative;
            margin-left: -1px;
            border-color: transparent rgba(128, 127, 127, 0.616) rgba(128, 127, 127, 0.616) rgba(128, 127, 127, 0.616);

            &:after {
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                bottom: 0;
                // background-color: rgba(79, 164, 218, 1);
                opacity: 0;
                border-width: 0 1px 6px 0px;
                border-style: solid;
                border-color: transparent rgba(79, 164, 218, 1) rgba(79, 164, 218, 1) transparent;
                transition: all 150ms;
            }

            &.active {
                &:after {
                    opacity: 1;
                }
            }
        }
    }

    .tab-pane {
        padding: toRem(38) toRem(58);
        color: #fff;

        p {
            font-size: 20px;
            font-weight: 400;
            line-height: 32px;
        }
    }
}


.app-folder-section {
    padding: toRem(38) toRem(58);
    clip-path: path("M0 856C0 872.569 13.4315 886 30 886L1105 886C1121.57 886 1135 872.569 1135 856V109.605C1135 93.0362 1121.57 79.6047 1105 79.6047H792.164C780.128 79.6047 769.257 72.4113 764.551 61.3331L746.261 18.2716C741.555 7.19343 730.685 0 718.648 0H30C13.4315 0 0 13.4315 0 30V856Z");

    .folder-title {
        max-width: 64%;
    }

    .row {
        --bs-gutter-y: 1.5rem;
    }
}

.folder-info-box {
    max-width: 255px;

    .box-icon {
        display: block;
        height: toRem(87);
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: $app-primary;
        display: grid;
        place-items: center;

        svg {
            max-width: 45px;
            max-height: 37px;
        }
    }

}

.text-link-btn-1 {
    svg {
        height: 20px;
        width: 20px;
    }
}

.img-text-sec-1 {
    background-color: #0B2031;
    display: flex;
    align-items: center;
    border-radius: toRem(16);
    overflow: hidden;

    .sec-img {
        width: 50%;
        object-fit: contain;
        border-radius: 20px;
    }

    .sec-text {
        padding-inline: 2rem;
    }
}

.app-accordion {
    --bs-accordion-color: #000000;
    --bs-accordion-bg: #ffffff00;
    --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
    --bs-accordion-border-color: #{$app-primary};
    --bs-accordion-border-width: 1px;
    --bs-accordion-border-radius: #{toRem(30)};
    --bs-accordion-inner-border-radius: calc(0.375rem - 1px);
    --bs-accordion-btn-padding-x: #{toRem(46)};
    --bs-accordion-btn-padding-y: 1.69rem;
    --bs-accordion-btn-color: #ffffff;
    --bs-accordion-btn-bg: var(--bs-accordion-bg);
    --bs-accordion-btn-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
    --bs-accordion-btn-icon-width: 1.25rem;
    --bs-accordion-btn-icon-transform: rotate(-90deg);
    --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
    --bs-accordion-btn-active-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgb%2871.1, 147.6, 196.2%29'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
    --bs-accordion-btn-focus-border-color: rgb(167, 209.5, 236.5);
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(79, 164, 218, 0.25);
    --bs-accordion-body-padding-x: #{toRem(46)};
    ;
    --bs-accordion-body-padding-y: 1.69rem;
    --bs-accordion-active-color: #000;
    --bs-accordion-active-bg: rgb(255 255 255);

    display: flex;
    flex-direction: column;
    gap: toRem(33);

    .accordion-item {
        border-top-left-radius: var(--bs-accordion-border-radius) !important;
        border-top-right-radius: var(--bs-accordion-border-radius) !important;
        border-bottom-right-radius: var(--bs-accordion-border-radius) !important;
        border-bottom-left-radius: var(--bs-accordion-border-radius) !important;
        border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color) !important;
        overflow: hidden;
    }

    .accordion-button {
        font-size: toRem(20);
        font-weight: 600;
        box-shadow: none !important;
        transition: all 0.2s ease-in-out;

        &::after,
        &::before {
            content: "";
            position: absolute;
            height: 4px;
            width: 28px;
            background-color: #fff;
            background-image: none;
            right: 30px;
            top: 35px;
        }

        &:after {
            transform: var(--bs-accordion-btn-icon-transform);
        }

        &:not(.collapsed) {
            padding-bottom: 0px;

            &::after,
            &::before {
                background-color: #000;
            }

            &:after {
                transform: rotate(0deg);
            }
        }
    }

    .accordion-body {
        font-size: 18px;
        color: #757575;
        padding-top: toRem(10);
        background-color: #fff;
    }
}

.single-slider {
    position: relative;
    .splide__arrow {
        height: 56px;
        width: 56px;
        border-radius: 50%;
        &.splide__arrow--next{
            rotate: 180deg;
        }
        path {
            transform: translate(8px, 10px);
        }
    }
}