body {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    background-color: #000;
}

.bg-dark-blue {
    background-color: $app-dark-blue;
}

.bg-dark-blue-1 {
    background-color: $app-dark-blue-1;
}

.bg-dark-blue-2 {
    background-color: #071825;
}

.bg-dark-blue-3 {
    background-color: rgba(5, 25, 41, 0.898);
}

.bg-gray-1 {
    background-color: #444444;
}

.bg-dark-1 {
    background-color: #131313;
}

.color-white {
    color: #fff;
}

.color-white-400 {
    color: rgba(255, 255, 255, 0.384);
}

.color-muted {
    color: rgba(231, 231, 231, 0.6);
}

.color-text-gray {
    color: rgb(128, 128, 128);
}

.app-row-gap {
    --bs-gutter-y: 1.5rem;
}


.section-pad {
    padding-block: toRem(80);

    @media(max-width: 768px) {
        padding-block: toRem(40);
    }
}

.app-container {
    @include setContainer(1212px, 30px);

    @media(max-width: 991px) {
        padding-inline: 15px;
    }
}

.badge-outline-primary {
    border: 1px solid $app-primary;
    color: $app-primary;
    background-color: transparent;
}

.btn-primary {
    --bs-btn-color: #fff;
}

.nav-btn {
    --bs-btn-border-radius: toRem(10);
    --bs-btn-color: #fff;
    --bs-btn-border-color: #D7D7D7;
}

.app-btn-pill {
    --bs-btn-padding-y: 8px;
    --bs-btn-padding-x: 16px;
    --bs-btn-font-size: 0.875rem;
    --bs-btn-border-radius: 26px;
}

.app-btn-pill-large {
    --bs-btn-padding-x: 24px;
    --bs-btn-padding-y: 12px;
    --bs-btn-font-size: 0.875rem;
    --bs-btn-border-radius: 26px;
}

.app-btn-wide {
    min-width: 238px;
}

.app-btn-glow {
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
    color: #FFFFFF;
    background: #3B95E1;
    box-shadow: 0px 0px 40px 5px rgba(97, 158, 212, 0.4);
    border-radius: 4px;
    border: none;
    padding: 14px 42px;
}

.title-font {
    font-family: "Poppins", sans-serif;
}

.app-texts-60 {
    font-size: 60px;
    line-height: 60px;

}

.app-texts-35 {
    font-size: 35px;
    line-height: 48px;
}

.app-texts-45 {
    font-size: 45px;
    line-height: 56px;

    @media(max-width: 768px) {
        font-size: 38px;
        line-height: 48px;
    }

}

.app-texts-42 {
    font-size: 42px;
    line-height: 60px;
}

.app-texts-40 {
    font-size: 40px;
}

.app-texts-22 {
    font-size: 22px;
    line-height: 32px;
}

.app-texts-18 {
    font-size: 18px;
    line-height: 24px;
}

@media(max-width: 768px) {
    .app-texts-60 {
        font-size: 50px;
        line-height: 50px;
    }

    .app-texts-42 {
        font-size: 36px;
        line-height: 46px;
    }

    .app-texts-40 {
        font-size: 34px;
    }

    .app-texts-35 {
        font-size: 30px;
        line-height: 40px;
    }
}

.bg-image {
    background-size: cover;
    background-position: center;
}

.banner-title {
    font-weight: 700;

    small {
        font-weight: 500;
    }
}

.app-hov-primary-btn {
    --bs-btn-padding-x: 24px;
    --bs-btn-padding-y: 0;
    --bs-btn-font-family: "Inter", sans-serif;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 500;
    --bs-btn-line-height: #{toRem(50)};
    --bs-btn-color: #ffffff;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: #{toRem(24)};
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);

    --bs-btn-color: #fff;
    --bs-btn-border-color: #{$app-primary};
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: #{$app-primary};
    --bs-btn-focus-shadow-rgb: 79, 164, 218;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: #{$app-primary};
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #{$app-primary};
    --bs-gradient: none;
    --btn-translate-time: 0.4s;

    .btn-text {
        position: relative;
        transition: translate var(--btn-translate-time);
        z-index: 1;
    }

    &:after {
        content: "";
        position: absolute;
        height: 500%;
        width: 200%;
        background-color: #{$app-primary};
        top: 100%;
        left: 100%;
        transform-origin: 0 0;
        rotate: -45deg;
        transition: translate var(--btn-translate-time);
    }

    position: relative;
    height: 50px;
    overflow: hidden;

    &:hover {
        .btn-text {
            translate: 0 -100%;
        }

        &:after {
            translate: -65% 0;
        }
    }

}

.app-hov-primary-btn-1 {
    --bs-btn-padding-x: 24px;
    --bs-btn-padding-y: 0;
    --bs-btn-font-family: "Inter", sans-serif;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 500;
    --bs-btn-line-height: #{toRem(50)};
    --bs-btn-color: #ffffff;
    --bs-btn-bg: #{$app-primary};
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: #{toRem(24)};
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);

    --bs-btn-color: #fff;
    --bs-btn-border-color: #{$app-primary};
    --bs-btn-hover-color: #fff;
    --bs-btn-bg: #{$app-primary};
    --bs-btn-hover-border-color: #{$app-primary};
    --bs-btn-focus-shadow-rgb: 79, 164, 218;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: #{$app-primary};
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #{$app-primary};
    --bs-gradient: none;
    --btn-translate-time: 0.4s;

    .btn-text {
        transition: translate var(--btn-translate-time);
    }

    &:after {
        content: "";
        position: absolute;
        height: 197px;
        width: 285px;
        background-color: #{$app-primary};
        left: 50%;
        top: 100%;
        transform: translate(-50%, 22px);
        background-image: url(../images/background/btn-animation.svg);
        background-position: center;
        transition: all 0.6s ease-in-out;
    }

    position: relative;
    width: 187px;
    height: 50px;
    overflow: hidden;

    &:hover {
        &:after {
            transform: translate(-50%, -70%);
        }
    }

}

.app-section-tabs {
    border-radius: toRem(20);
    overflow: hidden;

    .nav-tabs {
        --bs-nav-link-padding-x: #{toRem(15)};
        --bs-nav-link-padding-y: #{toRem(30)};
        --bs-nav-link-font-weight: 500;
        --bs-nav-link-color: #fff;
        --bs-nav-link-hover-color: #fff;
        --bs-nav-link-disabled-color: #6c757d;

        --bs-nav-tabs-border-width: 1px;
        --bs-nav-tabs-border-color: rgba(128, 127, 127, 0.616);
        --bs-nav-tabs-border-radius: 0;
        --bs-nav-tabs-link-hover-border-color: transparent transparent transparent transparent;
        --bs-nav-tabs-link-active-color: #fff;
        --bs-nav-tabs-link-active-bg: transparent;
        --bs-nav-tabs-link-active-border-color: transparent transparent transparent transparent;
        overflow: hidden;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;

        .nav-item {
            flex: 1;
        }

        .nav-item {
            min-width: 160px;
            max-width: 194px;
        }

        .nav-link {
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            height: 100px;
            text-align: center;
            font-size: toRem(16);
            position: relative;
            margin-left: -1px;
            border-color: transparent rgba(128, 127, 127, 0.616) rgba(128, 127, 127, 0.616) rgba(128, 127, 127, 0.616);

            &:after {
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                bottom: 0;
                // background-color: rgba(79, 164, 218, 1);
                opacity: 0;
                border-width: 0 1px 6px 0px;
                border-style: solid;
                border-color: transparent rgba(79, 164, 218, 1) rgba(79, 164, 218, 1) transparent;
                transition: all 150ms;
            }

            &.active {
                &:after {
                    opacity: 1;
                }
            }
        }

    }

    .tab-pane {
        padding: toRem(38) toRem(58);
        color: #fff;

        p {
            font-size: 20px;
            font-weight: 400;
            line-height: 32px;
        }
    }

    @media(max-width: 1199px) {
        .tab-pane {
            padding: 1.5rem 1.5rem;

            p {
                font-size: toRem(16);
            }
        }

        .nav-tabs .nav-link {
            font-size: toRem(14);
        }
    }
}

.app-folder-section {
    position: relative;
    width: calc(100% - 18px);

    &:before {
        content: "";
        position: absolute;
        height: 150px;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #444444;
        clip-path: url(#bannerClip);
    }

    padding: toRem(38) toRem(58);
    background: linear-gradient(180deg, rgba(87, 199, 133, 0) 150px, rgba(68, 68, 68, 1) 150px, rgba(68, 68, 68, 1) 100%);
    border-radius: 0 0 toRem(30) toRem(30);

    .folder-title {
        max-width: 64%;
    }

    .row {
        --bs-gutter-y: 1.5rem;
    }

    @media(max-width: 991px) {
        background-color: #444444;
        border-radius: toRem(30);
        width: 100%;
        padding: toRem(30);

        &:before {
            display: none;
        }

        .folder-title {
            max-width: 100%;
        }
    }
}

.folder-info-box {
    max-width: 255px;

    .box-icon {
        display: block;
        height: toRem(87);
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: $app-primary;
        display: grid;
        place-items: center;

        svg {
            max-width: 45px;
            max-height: 37px;
        }
    }

    @media(max-width: 575px) {
        max-width: 100%;

        .box-icon {
            height: toRem(60);
        }
    }

}

.text-link-btn-1 {
    svg {
        height: 20px;
        width: 20px;
    }
}

.img-text-sec-1 {
    background-color: #0B2031;
    display: flex;
    align-items: center;
    border-radius: toRem(16);
    overflow: hidden;

    .sec-img {
        width: 50%;
        object-fit: contain;
        border-radius: 20px;
    }

    .sec-text {
        padding: 2rem;
    }

    @media(max-width: 768px) {
        flex-direction: column;
        gap: 1.5rem;
        padding-block: 1.5rem;

        .sec-text {
            text-align: center;
            order: 1;
        }
    }
}

.app-accordion {
    --bs-accordion-color: #000000;
    --bs-accordion-bg: #ffffff00;
    --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
    --bs-accordion-border-color: #{$app-primary};
    --bs-accordion-border-width: 1px;
    --bs-accordion-border-radius: #{toRem(30)};
    --bs-accordion-inner-border-radius: calc(0.375rem - 1px);
    --bs-accordion-btn-padding-x: #{toRem(46)};
    --bs-accordion-btn-padding-y: 1.69rem;
    --bs-accordion-btn-color: #ffffff;
    --bs-accordion-btn-bg: var(--bs-accordion-bg);
    --bs-accordion-btn-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
    --bs-accordion-btn-icon-width: 1.25rem;
    --bs-accordion-btn-icon-transform: rotate(-90deg);
    --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
    --bs-accordion-btn-active-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgb%2871.1, 147.6, 196.2%29'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
    --bs-accordion-btn-focus-border-color: rgb(167, 209.5, 236.5);
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(79, 164, 218, 0.25);
    --bs-accordion-body-padding-x: #{toRem(46)};
    ;
    --bs-accordion-body-padding-y: 1.69rem;
    --bs-accordion-active-color: #000;
    --bs-accordion-active-bg: rgb(255 255 255);

    display: flex;
    flex-direction: column;
    gap: toRem(33);

    .accordion-item {
        border-top-left-radius: var(--bs-accordion-border-radius) !important;
        border-top-right-radius: var(--bs-accordion-border-radius) !important;
        border-bottom-right-radius: var(--bs-accordion-border-radius) !important;
        border-bottom-left-radius: var(--bs-accordion-border-radius) !important;
        border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color) !important;
        overflow: hidden;
    }

    .accordion-button {
        font-size: toRem(20);
        font-weight: 600;
        padding-right: 70px;
        box-shadow: none !important;
        transition: all 0.2s ease-in-out;

        &::after,
        &::before {
            content: "";
            position: absolute;
            height: 4px;
            width: 28px;
            background-color: #fff;
            background-image: none;
            right: 30px;
            top: 35px;
        }

        &:after {
            transform: var(--bs-accordion-btn-icon-transform);
        }

        &:not(.collapsed) {
            padding-bottom: 0px;

            &::after,
            &::before {
                background-color: #000;
            }

            &:after {
                transform: rotate(0deg);
            }
        }
    }

    .accordion-body {
        font-size: 18px;
        color: #757575;
        padding-top: toRem(10);
        background-color: #fff;
    }

    @media(max-width: 768px) {
        .accordion-button {
            padding: 24px 70px 24px 25px;
        }

        .accordion-body {
            padding: 10px 25px 20px 25px;
        }
    }
}

.single-slider-wrapper {
    padding-inline: 30px;
}

.single-slider {
    position: relative;

    .splide__arrows {
        position: absolute;
        top: 50%;
        translate: 0 -50%;
        width: 100%;
        z-index: 1;
        display: flex;
        justify-content: space-between;
    }

    @extend %slider-round-arrow-btn;

}

.single-slider-dots {
    .splide__pagination {
        gap: 5px;
        margin-top: 20px;

        li {
            button {
                display: block;
                height: 11px;
                width: 11px;

                border-radius: 50%;
                background-color: #fff;
                border: none;

                &.is-active {
                    background-color: $app-primary;
                }
            }
        }
    }
}

@media(max-width: 575px) {
    .single-slider-wrapper {
        padding-inline: 0px;
    }

    .single-slider {
        .splide__arrows {
            position: static;
            translate: none;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            gap: 10px;

            .splide__arrow {
                translate: none !important;
            }
        }
    }
}

.app-panel {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 25px;
    line-height: 36px;
    color: #FFFFFF;
    border-radius: toRem(10);
    border: 1px solid #fff;
    padding: toRem(20) toRem(36);

    @media(max-width: 768px) {
        font-size: 16px;
        line-height: 16px;
        padding: 1rem 1rem;
    }
}

.app-card-1 {
    @extend %app-common-card;
}

.app-card-2 {
    @extend %app-common-card;

    border-color: rgba(161, 174, 191, 1);
    border-radius: toRem(24);
    justify-content: center;
    min-height: 350px;

    .card-title,
    .card-text {
        max-width: 282px;
    }

    .card-title {
        font-size: toRem(28);
        line-height: toRem(36);
    }

    .card-text {
        font-size: toRem(14);
        line-height: toRem(24);
    }

    .icon-box {
        display: block;
        height: toRem(60);
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: #4FA4DA;
        display: grid;
        place-items: center;
        align-self: flex-start;
    }

    @media(max-width: 768px) {
        min-height: auto;

        .card-title,
        .card-text {
            max-width: none;
        }
    }

}

.card-fixed-width {
    width: 366px;

    @media(max-width: 575px) {
        width: 300px;
    }
}

.app-card-3 {
    @extend %app-common-card;
    text-align: center;
    padding: toRem(40) !important;
    min-height: 394px;
    border-radius: toRem(30) !important;
    overflow: hidden;
    border: none;

    &:before {
        content: "";
        position: absolute;
        inset: 0;
        background: #444444;
        background: linear-gradient(180deg, rgba(68, 68, 68, 0) 35%, rgba(0, 0, 0, 1) 100%);
    }

    .card-title {
        position: relative;
        font-size: toRem(20);
        line-height: toRem(26);
    }

    .card-text {
        position: relative;
        font-size: toRem(16);
        line-height: toRem(24);
    }
}

.app-card-4 {
    @extend .app-card-3;
    min-height: 436px;
    border-radius: toRem(15) !important;
    border: 1px solid $app-primary;

    &:before {
        background: linear-gradient(180deg, rgba(68, 68, 68, 0) 35%, rgba(79, 164, 218, 0.6) 100%);
    }

    .card-title {
        font-size: toRem(35);
        margin-bottom: 0px;
    }

    @media(max-width: 575px) {
        min-height: 225px;
    }
}

.app-card-5 {
    @extend .app-card-3;
    min-height: 340px;
    border-radius: toRem(20) !important;
    border: 2px solid #A1AEBF;
    text-align: center;

    &:before {
        display: none;
    }

    .card-title {
        font-size: toRem(52);
        line-height: toRem(27);
        letter-spacing: 5.2px;
        margin-bottom: 22px;
    }

    .card-text {
        font-size: toRem(20);
        line-height: toRem(30);
    }

    @media(max-width: 575px) {
        min-height: 225px;

        .card-title {
            font-size: toRem(25);
            line-height: toRem(30);
            letter-spacing: 2px;
        }

        .card-text {
            font-size: toRem(16);
            line-height: toRem(20);
        }
    }
}

.app-card-6 {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    padding: toRem(24);
    border-radius: toRem(24);

    .card-title {
        font-size: toRem(30);
        font-weight: toRem(40);
        font-weight: 600;
    }

    @media(max-width: 768px) {
        padding: toRem(15);

        .card-title {
            font-size: toRem(22);
            font-weight: toRem(28);
        }
    }
}

.app-card-7 {
    @extend .app-card-3;
    min-height: 600px;
    border-radius: toRem(16) !important;
    border: none;

    &:before {
        background: linear-gradient(180deg, rgba(24, 59, 86, 0.0001) 0%, rgba(22, 49, 70, 0.453847) 45.38%, #152532 100%);
    }

    .card-title {
        font-size: toRem(35);
        line-height: toRem(48);
        text-align: left;
    }

    .badge {
        position: absolute;
        top: 32px;
        left: 26px;
        background-color: #fff;
        color: rgba(54, 179, 126, 1);
    }

    @media(max-width: 575px) {
        min-height: 225px;
        padding: 1.5rem !important;

        .card-title {
            font-size: toRem(20);
            line-height: toRem(32);
        }
    }

}

.app-card-8 {
    @extend .app-card-3;
    min-height: 500px;
    border-radius: toRem(30) !important;
    border: none;
    padding: 0 !important;

    &:before {
        display: none;
    }

    .card-text-wrapper {
        background-color: rgba(11, 32, 49, 1);
        color: #fff;
        padding: toRem(30);
        text-align: left;
        border-radius: toRem(16);
    }

    .card-title {
        font-size: toRem(22);
        line-height: toRem(32);
        margin-bottom: 11px;
    }

    @media(max-width: 575px) {
        min-height: 450px;
    }
}

.app-card-9 {
    @extend .app-card-3;
    border-radius: toRem(8) !important;
    padding: toRem(30) !important;
    color: #fff;
    text-align: left;

    &:before {
        display: none;
    }

    @media(max-width: 1199px) {
        .title-font {
            font-size: 30px;
        }
    }
    @media(max-width: 768px) {
        min-height: 230px;
    }
}

.app-job-card {
    padding: toRem(40) toRem(32);
    background-color: #0B2031;
    color: #fff;
    border-radius: toRem(40);
    border-left: 9px solid $app-primary;

    .card-body {
        padding: 0px;
    }

    .card-icon {
        height: 27px;
        width: 27px;
    }

    .btn-text {
        display: flex;
        align-items: center;
    }

    .card-row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .badge {
        --bs-badge-padding-x: 1.2em;
        font-size: toRem(16);
        font-weight: 400;
    }
}

.app-card-grid-1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;

    .grid-card-lg {
        grid-column: span 3;
    }

    .grid-card-sm {
        grid-column: span 2;
    }

    @media (max-width: 768px) {
        .grid-card-lg {
            grid-column: span 5;
        }

        .grid-card-sm {
            grid-column: span 5;
        }
    }
}


.progress-slider {
    display: grid;
    grid-template-columns: 1fr 164px;
    grid-template-rows: auto auto;
    column-gap: toRem(24);

    .splide__track {
        grid-column: span 2;
        grid-row: 1;
    }

    .my-slider-progress {
        translate: 0 -26px;
        background: #ccc;

        .my-slider-progress-bar {
            background: $app-primary;
            height: 2px;
            transition: width 400ms ease;
            width: 0;
        }
    }


    .splide__arrows {
        grid-column: 2;
        display: flex;
        gap: toRem(20);
    }

    @extend %slider-round-arrow-btn;

    .splide__arrow {
        translate: none !important;

    }

}

.testimonial-card {
    .card-body {
        padding: toRem(40);
    }

    @media(max-width: 768px) {
        .card-body {
            padding: toRem(15);
        }
    }
}

.form-card {
    border-radius: toRem(10);

    .form-label {
        color: #fff;
    }

    .form-control {
        min-height: 44px;
        border-radius: toRem(4);
        font-weight: 300;

        &::placeholder,
        &::-webkit-input-placeholder,
        &:-ms-input-placeholder {
            color: rgba(130, 130, 130, 0.502);
            opacity: 1;
        }
    }
}

.interest-card {
    height: 464px;
    border-radius: toRem(8);
    border: none;

    @media(max-width: 768px) {
        height: 200px;
    }
}

.contact-us-card {

    position: relative;
    min-height: 316px;
    background-color: #064378;
    background-image: url(../images/background/shape-elements.svg);
    @extend %bg-banner;
    overflow: hidden;
    color: #fff;
    text-align: center;

    &:before,
    &:after {

        content: "";
        position: absolute;
    }

    &:before {
        width: 381px;
        height: 422px;
        left: -92px;
        top: -195px;
        background: #0A7ADA;
        filter: blur(125px);
    }

    &:after {
        position: absolute;
        width: 525px;
        height: 525px;
        left: 852px;
        top: 42px;
        background: #0A7ADA;
        filter: blur(150px);
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;

        p {
            max-width: 890px;
        }
    }
}