// BEGIN: main header
.app-header {
    background: rgba(22, 20, 33, 0.4);
    border: 1px solid rgba(22, 20, 33, 0.5);
    backdrop-filter: blur(12px);
    .navbar-brand {
        img {
            max-width: 178px;
        }
    }

    .navbar {
        padding-block: toRem(18);
    }

    .navbar-nav {
        gap: toRem(12);
        align-items: center;

        .nav-link {
            color: #fff;
            padding-inline: toRem(12);
            padding-block: 0.25rem;
            border-radius: toRem(80);
            border: 1px solid transparent;

            &:hover,
            &.active {
                background: rgba(79, 164, 218, 0.8);
                border-color: #4FA4DA;
            }
        }

        .btn {
            border-radius: 10px;
        }
    }
}

// END: main header

// BEGIN: main banner
.section-main-banner {

    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100dvh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

  
    .website-banner-img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .banner-content {
        max-width: 990px;
        padding-inline: 30px;
        padding-bottom: 100px;
    }
    .banner-title, .banner-text{
        color: #fff;
        text-align: center;
    }
    


}

//Begin: section-partners
.section-partners{
    .title-font{

    }
    .row{

    }
}
.app-logo{
    display: inline-block;
    height: toRem(72);
    border: 1px solid #A1AEBF;
    padding: toRem(15) toRem(20);
    border-radius: toRem(10);
    
    img{
        max-height: 40px;
    }
}
//End: section-partners