// BEGIN: main header
.app-header {
    background: rgba(22, 20, 33, 0.4);
    border: 1px solid rgba(22, 20, 33, 0.5);
    backdrop-filter: blur(12px);

    .navbar-brand {
        width: 178px;
        position: relative;
        overflow: hidden;

        img {
            max-width: 178px;
        }

        .logo-icon {
            position: relative;
        }

        .brand-logo-text {
            position: absolute;
            margin-left: 49px;
            translate: calc(-100% - 5px) 0;
            transition: all 0.3s ease-in-out;
        }

        &:hover,
        &:focus {
            .brand-logo-text {
                translate: 0% 0;
            }
        }
    }

    .navbar {
        padding-block: toRem(18);
    }

    .navbar-nav {
        --bs-scroll-height: calc(100dvh - 108px);

        gap: toRem(12);
        align-items: center;

        .nav-link {
            color: #fff;
            padding-inline: toRem(12);
            padding-block: 0.25rem;
            border-radius: toRem(80);
            border: 1px solid transparent;

            &:hover,
            &:focus,
            &.active {
                background: rgba(79, 164, 218, 0.8);
                border-color: #4FA4DA;
            }
        }

        .btn {
            border-radius: 10px;
        }
    }

    @media(max-width: 1199px) {
        .navbar-nav {
            gap: 0.2rem;

            .nav-link {
                font-size: 0.9rem;
            }
        }
    }

    @media(max-width: 991px) {
        .nav-item {
            width: 100%;
            text-align: center;

            &:before {
                display: none;
            }

            .nav-link.active+.mega-menu {
                display: block;
                opacity: 1;
                visibility: visible;
            }
        }

        .mega-menu {
            text-align: left;
            display: none;
            position: static;
        }
    }

    .nav-item {
        position: relative;

        &:before {
            content: "";
            position: absolute;
            height: 33px;
            width: 100%;
            top: 30px;
            // background-color: red;
            opacity: 0;
            visibility: visible;
        }

        &:hover {
            &:before {
                opacity: 1;
                visibility: visible;
            }

            .nav-link {
                background: rgba(79, 164, 218, 0.8);
                border-color: #4FA4DA;
            }

            .mega-menu {
                opacity: 1;
                visibility: visible;
                top: calc(100% - 1px);
            }
        }
    }
}


.mega-menu {
    position: fixed;
    left: 0;
    width: 100%;
    top: calc(100% - 20px);
    padding-block: toRem(50);
    background-color: #0B2031;
    color: #fff;
    max-height: calc(100dvh - 95px);
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;

    .service-list-item {
        display: flex;
        gap: toRem(15);
        padding: toRem(12);
        border-radius: toRem(15);
        transition: all .3s ease-in-out;

        &:hover {
            background-color: #163E5F;
        }

        .ico-box {
            display: grid;
            place-items: center;
            height: 38px;
            aspect-ratio: 1;
            border-radius: toRem(10);
            background-color: rgba(17, 52, 81, 1);

        }

        .service-title {
            font-size: toRem(16);
            font-weight: 600;
            margin-bottom: 0.25rem;
        }

        .service-desc {
            font-size: 12px;
            color: #9E9E9E;
            margin-bottom: 0px;
        }
    }

    .img-box-container {
        background: rgba(255, 255, 255, 0.1);
        border-radius: toRem(20);
        padding: toRem(12);
    }

    @media(max-width: 991px) {
        padding-block: 1rem;
    }
}

// END: main header

// BEGIN: main banner
.section-main-banner {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100dvh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


    .website-banner-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .banner-content {
        max-width: 990px;
        padding-inline: 30px;
        padding-bottom: 100px;
    }

    .banner-title,
    .banner-text {
        color: #fff;
        text-align: center;
    }

    .banner-video,
    .banner-fallback {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
    }

    @media(max-width: 991px) {
        height: auto;
        padding-top: 145px;

        .banner-content {
            padding-bottom: 46px;
        }
    }
}

//Begin: section-partners


.app-brand-box {
    height: 180px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(180deg, #006B8D 0%, #0E3870 100%);
    border-radius: toRem(10);
    padding: 15px;
    text-align: center;
    color: #fff;
    gap: toRem(10);

    .brand-title {
        font-size: toRem(18);
        line-height: toRem(20);
    }
}

.section-partners {
    @media(max-width: 768px) {
        .title-box-1 {
            img {
                height: 190px;
            }

            .banner-title {
                font-size: 20px;
                line-height: 28px;
            }
        }
    }
}

//End: section-partners

//BEGIN testimonials
.section-testimonials {
    .testimonials-bg {
        position: relative;

        &:after {
            content: "";
            position: absolute;
            height: 100%;
            width: 54%;
            right: 0%;
            top: 0;
            @extend %bg-banner;
            background-image: url("../images/background/background-6.png");
        }
    }

    .testimonials-inner-wrapper {
        position: relative;
        height: 600px;
        z-index: 1;

        .quote-icon {
            position: absolute;
            left: 181px;
            top: 24px;
            width: 204px;
        }
    }

    .title-font {
        max-width: 315px;
    }

    .splide {
        position: absolute;
        top: 50%;
        translate: 0 -50%;
        left: 315px;
        width: calc((100% - 315px) + (100vw - 1212px) / 2 + 18px);

        .testimonial-card {
            min-width: 100%;
            max-width: 600px;
        }
    }

    @media(max-width: 1199px) {
        .slider-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }

        .title-container {
            text-align: center;

        }

        .splide {
            position: static;
            translate: 0 0;
            width: 100%;
        }

        .testimonial-card {
            width: 100%;
            min-width: 80vw !important;
            max-width: 80vw !important;
        }

        .testimonials-inner-wrapper {
            height: auto;
        }

        .testimonials-bg {
            padding-block: toRem(20);

            &:after {
                width: 100%;
            }
        }

        .slider-btns {
            i {
                color: #fff !important;
            }
        }

        .quote-icon {
            display: none;
        }
    }
}

//END testimonials

//BEGIN main footer
.main-footer {
    .footer-section-1 {
        background-image:
            linear-gradient(59deg, rgba(11, 32, 49, 1) 1%, rgba(11, 32, 49, 1) 10%, rgba(87, 199, 133, 0) 51%, rgba(11, 32, 49, 1) 90%, rgba(11, 32, 49, 1) 100%),
            linear-gradient(rgba(255, 255, 255, 0.08) 1px, transparent 1px),
            linear-gradient(to right,
                rgba(255, 255, 255, 0.08) 1px,
                rgba(229, 229, 247, 0) 1px),
            url('../images/background/ekloud-logo-bg.png');
        background-size:
            cover,
            35px 35px,
            35px 35px,
            60% auto;
        background-position: center, center, center, center -9px;
        background-repeat: repeat, repeat, repeat, no-repeat;

    }

    .footer-text {
        max-width: 713px;
    }

    .social-media {
        a {
            font-size: 20px;
        }
    }

    a {
        text-decoration: none;
        color: #fff;
    }

    @media(max-width: 1366px) {
        .footer-section-1 {
            background-position: center, center, center, center;
        }
    }
}

//END main footer

//BEGIN : section industry overview
.shadow-img-box {
    --offset: 52px;
    width: 502px;
    max-width: calc(100% - var(--offset));
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: toRem(12);
    box-shadow: calc(var(--offset) * -1) calc(var(--offset) * -1) 0 0 #0B2031;
    translate: var(--offset) var(--offset);

    img {
        position: relative;
        max-width: 100%;
        object-fit: cover;
    }

    @media(max-width: 768px) {
        --offset: 25px;
    }
}

.section-industry-overview {
    .row {
        --bs-gutter-x: 2.5rem;
    }
}

//END : section industry overview
//BEGIN : about us banner
.about-us-banner-group {

    position: relative;

    .banner-image {
        position: absolute;
        inset: 0;
        z-index: 0;
        pointer-events: none;
    }

    .banner-bg-inner {
        position: sticky;
        top: 0;
        height: 100dvh;
    }

    .banner-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .content-group {
        position: relative;
        z-index: 1;
    }

    .section-main-banner {

        .banner-title,
        .banner-text {
            color: #383838
        }

        .banner-content {
            max-width: none;
            width: 100%;
        }
    }
}

//END : about us banner

//BEGIN : stands apart
.section-stands-apart {
    position: relative;
    overflow: hidden;

    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 271px;
        left: 0px;
        top: -32px;
        background: rgba(79, 164, 218, 0.6);
        filter: blur(150px);

    }

    .stands-apart-card-list {
        max-height: 615px;
        overflow: auto;
        padding-top: 89px;

        .app-card-6:nth-child(odd) {
            translate: 0 -75%;
        }

    }

    @media(max-width:768px) {
        .stands-apart-card-list {
            .app-card-6:nth-child(odd) {
                translate: 0 0;
                margin-right: 50px;
            }

            .app-card-6:nth-child(even) {
                margin-left: 50px;
            }
        }
    }
}

//END : stands apart

//BEGIN : image gallery
.gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 180px 180px 180px 180px;
    gap: 20px;

    grid-template-areas:
        "a b c"
        "a d h"
        "a g h"
        "f e h";

    .item1 {
        grid-area: a;
    }

    .item2 {
        grid-area: b;
    }

    .item3 {
        grid-area: c;
    }

    .item4 {
        grid-area: d;
    }

    .item5 {
        grid-area: e;
    }

    .item6 {
        grid-area: f;
    }

    .item7 {
        grid-area: g;
    }

    .item8 {
        grid-area: h;
    }

    .gallery-item {
        border-radius: toRem(20);
        border: 3px solid #6bb6ff;
        background: #fff;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    @media(max-width: 768px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 180px 180px 180px 180px 180px 180px;
        gap: 10px;

        grid-template-areas:
            "a b"
            "a d"
            "a g"
            "c h"
            "f h"
            "e h";
    }
}

//END : image gallery

//BEGIN : blog page banner
.blog-page-banner {
    height: auto;
    min-height: 100dvh;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 175px;
        background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22none%22%20viewBox%3D%220%200%202160%20263%22%3E%3Cg%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M2160%20262.5H0V0c360%2080%20720%20120%201080%20120S1800%2080%202160%200v262.5Z%22%2F%3E%3Cpath%20fill%3D%22url(%23a)%22%20d%3D%22M2160%20262.5H0V0c360%2080%20720%20120%201080%20120S1800%2080%202160%200v262.5Z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3ClinearGradient%20id%3D%22a%22%20x1%3D%220%22%20x2%3D%222160%22%20y1%3D%22131.25%22%20y2%3D%22131.25%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%3Cstop%20stop-color%3D%22%2356CCF2%22%2F%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%232F80ED%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
        bottom: 0;
        left: 0;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .banner-content {
        width: 100%;
        max-width: 760px;
        position: relative;
        padding-bottom: 286px;
        padding-top: 109px;
    }

    .search-input {
        position: relative;

        .form-control {
            min-height: 56px;
            background: rgba(255, 255, 255, 0.4);
            backdrop-filter: blur(12px);
            border-radius: 13px;
            padding-left: 50px;
            padding-right: 100px;
            color: #fff;
            @include placeholderColor(#fff);
        }

        .btn {
            --bs-btn-color: #fff;
            --bs-btn-border-radius: #{toRem(8)};
            position: absolute;
            right: 10px;
            top: 8px;
        }

        .ctrl-icon {
            position: absolute;
            left: 18px;
            top: 21px;
            color: #fff;
        }

    }

    .badge {
        padding: toRem(10);
        background: rgba(0, 0, 0, 0.2) !important;
        border: 1px solid #FFFFFF;
        backdrop-filter: blur(10px);
        border-radius: toRem(4);
        border: 1px solid #fff;
    }
}
.blog-banner-slider {
    .single-slider-wrapper{
        translate: 0 -50%;
    }
}

//END : blog page banner